*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

a{
  text-decoration: none;
  color: gray;
  font-size: 16px;
  font-weight: 600;
}

a:hover{
  color: white;
}

.active{
  border-bottom: 2px solid greenyellow;
}

.active-left{
  border-left: 2px solid yellowgreen;
}

.wrapper{
  height: 100vh;
  width: 100%;
}

main{
  width: 100%;
  height: calc(100% - 80px);
  background-color: #141922
  ;
}

/* SIDE BAR */
aside{
  width: 250px;
  height: 100% ;
  float: left;
  padding: 20px 20px 2px 20px;
  background-color: black;
  overflow: hidden;
}

aside .side-top{
  height: calc(100% - 80px);
  min-height: 550px;
}

aside .side-bottom{
  max-height: 60px;
}

.logo{
  width: 65%;
  margin-bottom: 25px;
}

.logo-mobile{
  display: none;
}

.main-menu ul{
  list-style: none;
}

.main-menu ul li{
  padding-bottom: 20px;
  display: flex;
}

.main-menu img{
  width: 30px;
}

.main-menu a{
  line-height: 30px;
  margin-left: 10px;
}

.playlist ul{
  min-height: 200px;
  overflow-y: auto;
  color: gray;
  list-style: none;
  line-height: 35px;
}

.playlist .fa-plus{
  background-color: gray;
  color: black;
  padding: 10px;
  margin: 10px 5px 10px 0;
}

.download, .profile{
  display: flex;
}

.download{
  color: gray;
}

.download img{
  width: 20px;
}

.user img{
  margin-right: 8px;
}

.border{
  width: 100%;
  border: 1px solid gray;
  margin: 10px auto;
}

.profile img{
  background-color: gray;
  border-radius: 50%;
  width: 25px;
}

.profile span{
  line-height: 30px;
}

/* UPGRADE */
.upgrade{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: calc(100% - 250px);
  height: 80px;
  background-color: rgba(0, 0, 0, .5);
}

.upgrade button{
  float: right;
  background-color: transparent;
  color: white;
  padding: 10px 35px;
  border-radius: 20px;
  margin: 20px;
  border: 1px solid white;
  transition: all 1s;
}

.upgrade button:hover{
  font-size: 20px;
}


/* CONTENT */
.content{
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 80px;
  float: left;
  overflow: auto;
}

/* nav */
.content nav ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50vw;
  margin: 20px auto;
  text-align: center;
  line-height: 50px;
  list-style: none;
  color: gray;
}

.content nav ul li a{
  font-size: 14px;
}

/* albums */
.recently-played, .create-for-me, .most-popular{
  margin: 30px 20px;
}

h3{
  font-size: 15px;
}

h6{
  color: gray;
  font-size: 12px;
}

.row{
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.album{
  padding-right: 10px;
  width: 17%;
}


.album .image{
  position: relative;
  width: 100%;
}

.album .image img{
  width: 100%;
}

.overlay{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay i{
  position: absolute;
  font-size: 300%;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

.album .image:hover .overlay{
  display: block;
  cursor: pointer;
}

.album h3, .album h6, .album-create h3{
  text-align: center;
  padding-top: 8px;
}

.create-for-me h6, .most-popular h6{
  margin-top: 7px;
}

.most-popular .album img{
  border-radius: 50%;
}

.most-popular .album .image .overlay{
  border-radius: 50%;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #282828;
  padding: 0 10px;
}

footer i{
  cursor: pointer;
}

.footer-left{
  display: flex;
  width: 20%;
}

.song{
  display: flex;
  align-items: center;
}

.song img{
  width: 40px;
}

.song-info{
  padding-left: 10px;
  padding-right: 28px;
}

.icons i{
  padding: 5px;
  color: gray;
  font-size: 13px;
}

.footer-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.center-top, .center-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-top i{
  margin: 5px 10px;
}

.center-top .fa-play-circle{
  font-size: 30px;
  transition: all 0.5s;
}

.center-top .fa-play-circle:hover{
  font-size: 35px;
}

.center-bottom .time{
  font-size: 10px;
}

.play-line{
 width: 35vw;
 height: 5px;
 background-color: gray;
 margin: 10px 20px;
 border-radius: 10px;
 cursor: pointer;
}

.line-progress{
  position: relative;
  height: 100%;
  width: 30%;
  background-color: whitesmoke;
  border-radius: 10px;
}

.play-line:hover .line-progress{
  background-color: yellowgreen;
}

.dot{
  position: absolute;
  display: none;
  width: 15px;
  height: 15px;
  top: -5px;
  right: 0;
  border-radius: 50%;
  background-color: whitesmoke;
}

.line-progress:hover .dot{
  display: block;
}

.footer-right{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  flex-shrink: 0;
}

.footer-right i{
  color: white;
}

.volume-line{
  width: 100px;
  height: 5px;
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}

.volume-line:hover .line-progress{
  background-color: yellowgreen;
}

/* RESPONSIVE */

@media (max-width:1200px){
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .album {
    width: 25%;
  }
}

@media (max-width:992px){
  .album {
    width: 50%;
  }
}

@media screen and (max-width:576px){
  aside{
    width: 50px;
    padding: 10px;
  }
  .content{
    width: calc(100% - 50px);
  }
  .upgrade{
    width: calc(100% - 50px);
  }
  .logo, .playlist, .download span, .profile span, .border{
    display: none;
  }
  .logo-mobile{
    display: block;
    width: 35px;
    margin-bottom: 20px;
  }
  .main-menu li a{
    display: none;
  }
  .main-menu li{
    width: 80px;
  }
  .album{
    width: 50%;
  }
  .download, .profile{
    width: 50px;
    margin: 10px 0;
  }
}

@media (max-height:160px){
  footer{
    position: fixed;
    z-index: 100;
  }
}

